<nav class='navbar navbar-default main-header'>
  <div class='navbar-header'>
    <%= link_to 'SOULCYCLE', root_path, class: 'name navbar-brand' %>
  </div>
  <ul class='nav navbar-nav main-nav'>
    <li class='nav-link'><%= link_to '#soulcycle', soulcycle_path %></li>
    <li class='nav-link'><%= link_to '#soulfounders', founders_path %></li>
    <li class='nav-link'><%= link_to '#soulinstructors', instructors_path %></li>
  </ul>
</nav>